# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.aps

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio generated
*.vcxproj.user
*.csproj.user
*.obj
*.db
**/.vs/**
**/[Rr]elease/**
**/[Dd]ebug/**
**/[Bb]in/**
**/[Pp]rofile/**

# Custom
**/[Dd]ependencies/**
UserSettings.bat
Config/Custom/**
**/Logs/**
Intermediate/**
**/[Gg]enerated/**
*.generated.h
Source/Storm-CsCppShared/include/**
